# Configuration file
# Generated on 15/02/13 20.02

####################
# gz_entitygibs adjustment configuration
#===================
# These settings are to help other modders and users to make custom mobs fit correctly in the preview window.
####################

"gz_entitygibs adjustment configuration" {
    B:AppendBabyName=true
    S:"Baby Scale Modifier"=2.0
    B:IgnoreThisMob=false
    S:Name=gz_EntityGibs
    S:ScaleFactor=22.0
    S:"Size Modifier"=0.0
    S:"X Offset"=0.0
}


