#MLProperties: name (type:default) min:max -- information
#MLProp : entityFallingTileEntityID (int:38,>=0,0,<=4095,0)
#MLProp : blockObsidianOvenID (int:241,>=1,0,<=4095,0)
#MLProp : containerObsidianOvenID (int:8018,>=0,0,<=32000,0)
#
#Sat Feb 16 13:31:02 CET 2013
blockObsidianOvenID=241
entityFallingTileEntityID=38
containerObsidianOvenID=8018
